* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Cuprum';
}

a {
    text-decoration: none;
    display: block;
}

li {
    list-style: none;
}

body {
    width: 1200px;
    margin: 0 auto;
}

header {}

.nav-wrap {
    background: #293449;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 42px;
    padding-left: 130px;
    padding-right: 130px;
}

.logo {
    background-color: #EE3643;
    width: 220px;
    height: 47px;
    box-shadow: inset 0px -5px 0px rgba(0, 0, 0, 0.24);
    padding-top: 9px;
}

.logo img {
    display: block;
    margin: auto;
}

.nav-wrap form {
    width: 271px;
    height: 42px;

}

.search-top {  
    background-color: #293449;
    width: 100%;
    height: 100%;
    border: none;
    font-size: 18px;
    line-height: 24px;
    padding-left: 20px;
    background-image: url(../img/attributes/icon-search-grey.svg);
    background-size: 17px 17px;
    background-repeat: no-repeat;
    background-position: center left;
}

.search-top:hover {
    outline:none;
    background-color: #ffffff;
    color: black;
}

.nav-top {
    width: 450px;
    align-self: flex-end;
}
.nav-top ul {
    display: flex;
}